.help-w {
  background: url(../img/head-contacts-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  background-position: center center;
}
.help-w .header__nav-contact::after {
  display: none;
}
@media (max-width: 540px) {
  .help-w {
    background: url(../img/help-bg_mob.png);
    background-size: 100% 100%;
  }
}

.help {
  text-align: center;
  max-width: 1342px;
  margin: 0 auto;
  padding-top: 151px;
}
@media (max-width: 678px) {
  .help {
    padding-top: 30px;
  }
}
.help__button {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background: #B6E7C8;
  border-radius: 100px;
  display: inline-block;
  padding: 16px 49px 15px 40px;
  margin-bottom: 140px;
  transition: 0.2s;
  display: none;
  margin: 0 auto 20px;
}
@media (max-width: 540px) {
  .help__button {
    padding: 16px 15px 15px 15px;
    font-size: 16px;
    line-height: 20px;
    display: block;
    max-width: 252px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 50px;
  }
}
.help__button:hover {
  background-color: #a0e1b8;
}
.help__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  margin-bottom: 30px;
}
@media (max-width: 678px) {
  .help__title {
    font-size: 42px;
  }
}
@media (max-width: 540px) {
  .help__title {
    font-size: 26px;
    margin: 0 auto 10px;
    max-width: 410px;
    line-height: 32px;
    margin-bottom: 50px;
  }
}
.help__subtitle {
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 836px;
  margin: 0 auto;
  margin-bottom: 244px;
}
@media (max-width: 700px) {
  .help__subtitle {
    margin-bottom: 40px;
  }
}
@media (max-width: 678px) {
  .help__subtitle {
    font-size: 23px;
  }
}
@media (max-width: 540px) {
  .help__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }
}
.help__bottom-title {
  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  margin-bottom: 20px;
}
@media (max-width: 678px) {
  .help__bottom-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}
.help__bottom-company {
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
}
@media (max-width: 678px) {
  .help__bottom-company {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.contacts {
  padding-top: 100px;
  padding-bottom: 100px;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .contacts__content {
    flex-direction: column;
  }
}
.contacts__text {
  background: #FAFAFA;
  text-transform: uppercase;
  color: #000000;
  padding-top: 100px;
  padding-left: 58px;
  padding-right: 30px;
  flex: 0 0 37%;
  padding-bottom: 182px;
}
@media (max-width: 900px) {
  .contacts__text {
    margin-bottom: 60px;
  }
}
@media (max-width: 540px) {
  .contacts__text {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.contacts__text-phone {
  margin-bottom: 60px;
}
.contacts__phone-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 32px;
}
@media (max-width: 540px) {
  .contacts__phone-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}
.contacts__phone-item {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
@media (max-width: 540px) {
  .contacts__phone-item {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}
.contacts__address-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 28px;
}
@media (max-width: 540px) {
  .contacts__address-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}
.contacts__address-item {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 58px;
}
@media (max-width: 540px) {
  .contacts__address-item {
    font-size: 20px;
    line-height: 24px;
  }
}
.contacts__address-city {
  font-weight: 600;
}
.contacts__subscribe-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 32px;
}
@media (max-width: 540px) {
  .contacts__subscribe-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}
.contacts__social {
  flex: 0 0 49.4%;
}
.contacts__social-conscripts {
  margin-bottom: 100px;
}
.contacts__social-title {
  margin-bottom: 60px;
}
@media (max-width: 540px) {
  .contacts__social-title {
    text-align: center;
    margin-bottom: 30px;
  }
}
.contacts__content-item {
  position: relative;
  flex: 0 0 47%;
  height: 214px;
}
@media (max-width: 900px) {
  .contacts__content-item {
    flex: none;
  }
}
.contacts__content-item:not(.contacts__content-item:last-child) {
  margin-bottom: 40px;
}
.contacts__content-item img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacts__content-item_s {
  flex: 0 0 100%;
}
@media (max-width: 900px) {
  .contacts__content-item_s {
    flex: none;
  }
}
.contacts__item-vk {
  background: #4D76A1;
}
.contacts__item-steam {
  background: #0A4158;
}
.contacts__item-youtube {
  background: #E21A20;
}

.consultation {
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 78px;
  padding-bottom: 78px;
}
.consultation__form {
  max-width: 411px;
  margin: 0 auto;
}
.consultation__form-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 63px;
}
@media (max-width: 540px) {
  .consultation__form-title {
    text-align: center;
  }
}
.consultation__form-name {
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 36px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 540px) {
  .consultation__form-name {
    max-width: 300px;
    margin: 0 auto 36px;
  }
}
.consultation__form-name input {
  background: #FAFAFA;
  padding-left: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
.consultation__form-phone {
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 36px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 540px) {
  .consultation__form-phone {
    max-width: 300px;
    margin: 0 auto 36px;
  }
}
.consultation__form-phone input {
  background: #FAFAFA;
  padding-left: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
.consultation__form-button {
  border: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 540px) {
  .consultation__form-button {
    max-width: 286px;
    margin: 0 auto;
  }
}
.consultation__form-button button {
  background: #FAFAFA;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.map {
  background: url(../img/map.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 527px;
  margin: 96px auto 150px;
  max-width: 1620px;
}
@media (max-width: 700px) {
  .map {
    margin: 96px auto 80px;
    height: 200px;
  }
}

.header__contact-list_b .header__contact-list-items {
  background: #FFFFFF;
  border-radius: 15px;
}
.header__contact-list_b .header__contact-list-items a {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}/*# sourceMappingURL=contacts.css.map */