.protection-service-w {
  background: url(../img/head-main-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 169px;
}
@media (max-width: 540px) {
  .protection-service-w {
    background: url(../img/head-main-bg_mob.png);
    background-position: center;
    background-size: cover;
  }
}

.wrapper {
  overflow-x: hidden;
}

.protection-service__text {
  text-align: center;
  font-weight: 500;
  padding-top: 152px;
}
@media (max-width: 1640px) {
  .protection-service__text {
    padding-top: 40px;
  }
}
.protection-service__caption {
  line-height: 24px;
  text-transform: uppercase;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 9px;
}
@media (max-width: 540px) {
  .protection-service__caption {
    font-size: 16px;
  }
}
.protection-service__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  margin-bottom: 28px;
}
@media (max-width: 678px) {
  .protection-service__title {
    font-size: 42px;
  }
}
@media (max-width: 540px) {
  .protection-service__title {
    font-size: 26px;
    margin: 0 auto 28px;
    max-width: 410px;
    line-height: 32px;
  }
}
.protection-service__subtitle {
  margin: 0 auto 33px;
  font-size: 27px;
  line-height: 33px;
  max-width: 732px;
}
@media (max-width: 678px) {
  .protection-service__subtitle {
    font-size: 23px;
  }
}
@media (max-width: 540px) {
  .protection-service__subtitle {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 20px;
    max-width: 236px;
    margin: 0 auto 30px;
  }
}
.protection-service__button {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background: #B6E7C8;
  border-radius: 100px;
  display: inline-block;
  padding: 16px 49px 15px 40px;
  margin-bottom: 140px;
  transition: 0.2s;
}
@media (max-width: 900px) {
  .protection-service__button {
    margin-bottom: 87px;
  }
}
@media (max-width: 540px) {
  .protection-service__button {
    padding: 16px 15px 15px 15px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 60px;
  }
}
.protection-service__button:hover {
  background-color: #a0e1b8;
}
.protection-service__content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1370px) {
  .protection-service__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .protection-service__content {
    flex-direction: column;
    padding-top: 30px;
    padding-left: 31px;
  }
}
.protection-service__item {
  display: flex;
  align-items: center;
}
@media (max-width: 1370px) {
  .protection-service__item {
    flex: 0 0 34%;
    margin-bottom: 50px;
  }
}
@media (max-width: 700px) {
  .protection-service__item {
    flex: 100%;
  }
}
.protection-service__item-img {
  margin-right: 32px;
  min-width: 83px;
}
.protection-service__item-text {
  max-width: 213px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 1200px) {
  .protection-service__item-text {
    max-width: none;
  }
}
.protection-service__item-text span {
  display: block;
}
@media (max-width: 900px) {
  .protection-service__item-text span {
    display: inline;
  }
}

.schedule {
  padding-top: 100px;
}
@media (max-width: 540px) {
  .schedule {
    padding-top: 70px;
  }
}
.schedule__title {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 540px) {
  .schedule__title {
    margin-bottom: 30px;
  }
}
.schedule__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.schedule__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  border: 3px solid #ACCCE6;
  border-radius: 15px;
  flex: 0 0 22%;
  padding: 31px 55px 28px 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 175px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.2s;
}
@media (max-width: 1300px) {
  .schedule__item {
    padding: 31px 20px 28px 20px;
  }
}
@media (max-width: 1215px) {
  .schedule__item {
    flex: 0 0 45%;
  }
}
@media (max-width: 540px) {
  .schedule__item {
    margin-bottom: 20px;
    text-align: center;
    flex: 0 0 100%;
  }
}
@media (max-width: 360px) {
  .schedule__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
.schedule__item:hover {
  background: #ACCCE6;
  box-shadow: 1px 1px 2px rgba(140, 233, 255, 0.3), -1px -1px 2px rgba(122, 203, 228, 0.5), inset -32px 32px 64px rgba(122, 203, 228, 0.2), inset 32px -32px 64px rgba(122, 203, 228, 0.2), inset -32px -32px 64px rgba(140, 233, 255, 0.9), inset 32px 32px 80px rgba(122, 203, 228, 0.9);
  border-radius: 15px;
}
.schedule__item:nth-child(13) {
  flex-direction: column;
  padding: 31px 41px 28px 40px;
}
.schedule__item:nth-child(13) span {
  display: block;
}
.schedule__item:nth-child(15) {
  padding: 0;
}
.schedule__button {
  display: none;
}
@media (max-width: 540px) {
  .schedule__button {
    display: block;
    margin: 0 auto;
  }
}
.schedule__button a {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  padding: 25px 75px 25px 74px;
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}
@media (max-width: 540px) {
  .schedule__button a {
    display: block;
    max-width: 300px;
  }
  .schedule__button a span {
    display: none;
  }
}
.schedule__item-s {
  flex: 0 0 48%;
}
@media (max-width: 1215px) {
  .schedule__item-s {
    flex: 0 0 100%;
  }
}
@media (max-width: 540px) {
  .schedule__item-s {
    flex: 0 0 100%;
  }
}

.steps {
  padding-top: 60px;
  padding-bottom: 99px;
}
@media (max-width: 540px) {
  .steps {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.steps__title {
  text-align: center;
  margin-bottom: 104px;
}
@media (max-width: 540px) {
  .steps__title {
    margin-bottom: 50px;
  }
}
.steps__content {
  display: flex;
  justify-content: space-around;
  padding-left: 115px;
}
@media (max-width: 868px) {
  .steps__content {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
}
.steps__item {
  flex: 0 0 29%;
}
@media (max-width: 868px) {
  .steps__item {
    margin-bottom: 50px;
    flex: 0 0 100%;
  }
}
.steps__item-top {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
@media (max-width: 540px) {
  .steps__item-top {
    margin-bottom: 15px;
  }
}
.steps__number {
  margin-right: 20px;
}
.steps__line {
  background: #000000;
  height: 1px;
  width: 127px;
}
.steps__text {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  max-width: 368px;
}

.timer {
  background: url(../img/timer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 68px;
  min-height: 523px;
}
@media (max-width: 540px) {
  .timer {
    background: url(../img/timer-bg_mob.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.timer__title {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 38px;
}
@media (max-width: 540px) {
  .timer__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }
}
.timer__content {
  max-width: 1082px;
  margin: 0 auto 60px;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .timer__content {
    display: none;
  }
}
.timer__content-item {
  border: 3px solid #FFFFFF;
  border-radius: 15px;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  flex: 0 0 29%;
  text-align: center;
  padding: 50px 0px;
}
@media (max-width: 1024px) {
  .timer__content-item {
    font-size: 40px;
  }
}
@media (max-width: 1024px) {
  .timer__content-item {
    font-size: 35px;
  }
}
.timer__content-points {
  font-weight: 700;
  font-size: 67px;
  line-height: 56px;
}
.timer__content_mob {
  font-weight: 700;
  margin: 0 auto 100px;
  max-width: 400px;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  justify-content: center;
  display: none;
}
@media (max-width: 768px) {
  .timer__content_mob {
    display: flex;
  }
}
@media (max-width: 540px) {
  .timer__content_mob {
    margin: 0 auto 40px;
  }
}
.timer__days {
  margin-right: 30px;
}
@media (max-width: 400px) {
  .timer__days {
    margin-right: 20px;
  }
}
.timer__points {
  margin-right: 30px;
}
@media (max-width: 400px) {
  .timer__points {
    margin-right: 20px;
  }
}
.timer__minutes {
  margin-top: 20px;
}
.timer__button {
  text-align: center;
}
.timer__button a {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  padding: 17px 42px 17px 42px;
}
@media (max-width: 540px) {
  .timer__button a {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    background: #B6E7C8;
    font-weight: 500;
    color: #000000;
    border: none;
  }
  .timer__button a span {
    display: none;
  }
}

.news {
  padding-top: 100px;
}
@media (max-width: 540px) {
  .news {
    padding-top: 20px;
  }
}
.news__title {
  text-align: center;
  margin-bottom: 60px;
}
.news__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news__content-item {
  background: #FAFAFA;
  flex: 0 0 30.3%;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .news__content-item {
    flex: 0 0 49%;
  }
}
@media (max-width: 600px) {
  .news__content-item {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}
.news__item-text {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-top: 53px;
  padding-left: 64px;
  padding-bottom: 59px;
}
@media (max-width: 1600px) {
  .news__item-text {
    padding-right: 64px;
  }
}
@media (max-width: 600px) {
  .news__item-text {
    padding-left: 16px;
    padding-right: 10px;
  }
}
.news__item-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news__item-video iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .news__item-video {
    flex: 0 0 100%;
    min-height: 367px;
  }
}
.news__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 21px;
}
@media (max-width: 360px) {
  .news__item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
.news__item-desc {
  max-width: 359px;
}
@media (max-width: 360px) {
  .news__item-desc {
    max-width: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
.news__video {
  display: none;
}
.news__video-play {
  cursor: pointer;
}

@media (max-width: 540px) {
  .faq__button_index {
    display: none;
  }
}

@media (max-width: 540px) {
  .page-maim__reviews {
    padding-top: 50px;
  }
}/*# sourceMappingURL=index.css.map */